/* Создание переменных CSS */

:root {
    --primary-purple: #2d2650;
    --primary-yellow: #dfdc01;
    --section-grey: #999999;
    --secondary-grey: #2B2A28;
  }
  
  /* Сброс стандартных стилей */
  
  body::-webkit-scrollbar {
    width: 0px; 
    height: 0px;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  * {
    margin: 0;
    padding: 0;
    letter-spacing: .05em;
  }

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
  }
  
  /* Контейнер */
  
  .container {
    max-width: 1110px;
    margin: 0 auto;
  }
  
  /* Общие стили */

  .mobile {
    display: none;
  }
  
  .description {
    font-size: 18px;
    font-family: PT Sans;
    font-weight: 400;
    line-height: 24px;
    color: var(--primary-purple)
  }
  
  h2 {
    font-size: 30px;
    line-height: 36px;
    font-family: Handjet;
    color: var(--section-grey);
    font-weight: 900;
    text-transform: uppercase;
    width: 708px;
    margin-top: 80px;
  }
  
  h3 {
    font-size: 25px;
    line-height: 30px;
    font-family: Handjet;
    color: var(--primary-purple);
    text-transform: uppercase;
  }
  
  .text--outline-purple {
    color: transparent;
    -webkit-text-stroke: 2px var(--primary-purple);
  }
  
  .text--purple {
    color: var(--primary-purple)
  }
  
  .text--outline-yellow {
    color: transparent;
    -webkit-text-stroke: 2px var(--primary-yellow);
  }
  
  .text--yellow {
    color: var(--primary-yellow);
  }
  
  .text--grey {
    color: var(--secondary-grey);
  }
  
  .btn {
    padding: 10px 40px;
    background-color: var(--primary-yellow);
    font-size: 25px;
    font-weight: 700;
    line-height: 28px;
    font-family: Handjet;
    color: var(--primary-purple);
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 1;
  }
  
  .btn-container {
    position: relative;
  }
  
  .btn-bg {
    position: absolute;
    left: 0;
    z-index: -1;
  }
  
  .btn:hover {
    background-color: #EBE965;
    border: 1px solid var(--primary-purple);
    transform: translate(-10px, -8px);
    transition: all 0.3s;
  }
  
  .btn:active {
    background-color: var(--primary-purple);
    color: #EBE965;
  }