header {
    background: url("../img/BG.jpg") no-repeat center/cover;
    padding-top: 40px;
    height: 900px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  
  nav svg {
    fill: #F5F5F5; 
    fill-opacity: 0.2;
    transition: all 0.5s ease;
  }
  nav svg:hover {
    fill-opacity: 1;
  }

  .title--mobile {
    display: none;
  }
  
  .hamburger {
    cursor: pointer;
  }
  
  .title {
    margin-top: 110px;
    font-family: "Press Start 2P", serif;
    font-size: 80px;
    display: flex;
    align-items: center;
  }
  
  .title--gradient {
    background: linear-gradient(197deg, var(--primary-purple) 50%, var(--primary-yellow) 50%);
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 2px var(--primary-purple);
  }
  
  .title--bordered {
    font-size: 40px;
    margin-left: 20px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px white;
  }
  
  .title__description {
    font-size: 30px;
    font-family: Handjet;
    margin-top: 59px;
  }
  
  .logo--desktop {
    position: absolute;
    right: 0;
    bottom: -308px;
  }

  .logo--mobile {
    display: none;
  }
  
  