@media (max-width: 768px) {
	header {
		height: 640px;
		padding: 18px;
		position: relative;
	}

	h2 {
		width: 328px;
		font-size: 18px;
		font-weight: 900;
		margin-top: 64px;
		line-height: 20px;
	}

	h3 {
		line-height: 20px;
	}

	.btn {
		font-size: 16px;
	}

	.btn-bg {
    width: 154px;
    height: 58px;
	}

	.title {
		display: none;
	}

	.title--mobile {
		display: block;
		margin-top: 72px;
	}

	.title__description {
		margin-top: 20px;
		font-size: 18px;
		color: var(--primary-purple);
		font-weight: 700;
	}

	.logo--mobile {
		display: block;
		position: absolute;
		right: 0;
		bottom: 0;
		width: 280px;
		height: 280px;
	}

	.title__variants {
		width: 100%;
		height: 18px;
	}
	
	.title--bordered {
		margin-left: 0;
		font-family: "Press Start 2P", serif;
		font-size: 20px;
	}

	.logo--desktop {
		display: none;
	}

	.header__navigation {
		padding: 10px 0;
	}

	.container {
		max-width: 328px;
	}

	.desktop {
		display: none;
	}

	.mobile {
		display: block;
	}

	.about-us__description {
		display: none;
	}

	.about-us__steps {
		flex-direction: column;
		margin-top: 64px;
	}

	.about-us__step-text {
		width: 232px;
		margin-left: 10px;
	}

	.about-us__step-title {
		margin-top: 0;
		font-size: 16px;
	}

	.about-us__step-description {
		font-size: 16px;
	}

	.about-us__step {
		flex-direction: row;
	}
	
	.about-us__step-number {
		font-size: 30px;
		width: 60px;
		height: 60px;
	}
	
	.about-us__step:not(:last-child)::after {
		width: 5px;
    height: 100%;
		top: 50%;
		left: 9%;
	}
	.about-us__step:nth-child(2)::after {
    background: linear-gradient(180deg, #2D2650, #F5F5F5);
  }

	.about-us__step:last-child {
		margin-bottom: 0;
	}

	/* Solutions */

	.solutions {
		margin-bottom: 150px;
	}

	.solutions__types {
		flex-direction: column;
		gap: 150px;
	}

	.solutions__icon {
		width: 136px;
		height: 118px;
	}

	.solutions__item img {
		margin: 0 0;
	}
	
	.solutions__item {
		padding: 0;
		width: 100%;
	}

	.solutions__item_title {
		font-size: 18px;
		font-weight: 700;
		letter-spacing: .05em;
		height: 100%;
	}

	.solutions__item_description {
		display: block;
		font-size: 16px;
		margin-top: 10px;
	}

	.solutions__item_text {
		right: 25px;
		top: 40px;
	}

	.solutions__hover-icon {
		display: none;
		width: 0;
		height: 0;
	}

	.solutions__more {
		opacity: 1;
	}

	.solutions__more span {
		opacity: 0;
	}

	/* skills */

	.skills__items {
		gap: 12px 0;
		flex-direction: column;
	}

	.skills__percentage {
		font-size: 80px;
	}

	.skills__desription {
		font-size: 16px;
	}

	/* technologies */

	.technologies__marquee {
		margin-top: 24px;
	}

	.technologies__marquee-wrapper--reversed {
		margin-top: 24px;
	}

	/* services */

	.services {
		margin-top: 0;
	}

	.services__item {
		max-width: 328px;
		padding: 65px 0;
		flex-direction: column;
	}

	.services__item:nth-child(even) {
    flex-direction: column;
  }

	.services__title_desktop {
		display: none;
	}

	.services__title_mobile {
		display: block;
		width: 148px;
		font-size: 20px;
		font-weight: 900;
	}

	.services__container {
		display: flex;
	}

	.services__container img {
		margin: 0 40px 0 0;
		width: 95px;
		height: 95px;
	}

	.services__description {
		font-size: 16px;
    -webkit-line-clamp: 7;
  }

	/* partners */
	
	.swiper-partners {
		width: 100%;
	}

	.swiper-partners-slide img {
    width: 70px;
    height: 70px;
	}

	.swiper-partners-slide {
		height: 109px;
	}

	.swiper-partners-slide p {
    font-size: 12px;
	}	

	.swiper-button-prev,.swiper-button-next {
		display: none;
	}

	/* news */
	.news {
		margin: 0;
	}

	.swiper-news {
		padding: 0;
	}

	.news__container {
    background: url(../icons/news/newsBG.svg) no-repeat center center;
		background-size: 100% 367px;
		width: 360px;
		height: 267px;
    display: flex;
    align-items: center;
		min-height: 0;
    margin: 0 auto;
	}

	.swiper-news-item img {
    max-width: 242px;
    max-height: 180px;
}

	.swiper-news-info time {
    left: 65px;
		font-size: 12px;
	}

	.swiper-news-description {
    left: 95px;
		bottom: 30px;
		font-size: 16px;
		max-width: 182px;
		min-width: 100px;
		padding: 0;
	}

	.swiper-news-description h4 {
		font-size: 16px;
		color: #DFDC01;
	}
	
	.swiper-news-description p {
		font-size: 12px;
	}

	/* feedback */

	.feedback__container {
		padding: 0;
	}

	.feedback__form {
		padding: 24px 16px;
		justify-content: center;
		gap: 12px;
		min-height: 448px;
	}

	.feedback__descr {
		font-size: 12px;
	}

	.feedback__fields {
		gap: 16px;
	}

	.feedback__input {
		padding: 12px 24px;
		height: 40px;
	}

	.feedback__textarea {
		padding: 12px 24px;
	}

	#phone {
		width: 100%;
	}

	#email {
		width: 100%;
	}

	.feedback__privacy {
		width: 100%;
		text-align: left;
	}

	.feedback__submit {
		flex-direction: column;
		align-items: flex-end;
		gap: 12px;
	}

	.feedback__textarea {
		height: 120px;
	}

	.feedback__btn_bg {
		width: 143px;
	}

	/* footer */

	.footer__divider img {
		height: 100%;
	}

	.footer__divider-desktop {
		display: none;
	}

	.footer__divider-mobile {
		display: block;
	}

  .footer__container {
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

	.footer__logo {
		display: none;
	}

  .footer__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
		align-items: left;
  }

  .footer__column h3 {
    font-size: 20px;
  }

  .footer__column a {
		text-align: left;
    font-size: 16px;
  }

  .footer__contacts {
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }

	.footer__address {
		display: none;
	}

  .footer__socials {
    justify-content: center;
  }

  .footer__legal {
    flex-direction: column;
    gap: 15px;
  }

	/* cookies */

	.cookie__modal {
		width: 90%;
		height: auto;
		padding: 20px;
		flex-direction: row;
		align-items: flex-start;
	}

	.cookie__content {
			display: flex;
			flex-direction: column;
	}

	.cookie__text {
		font-size: 12px;
	}

	.cookie__link {
		font-size: 12px;
	}

	.cookie__icon {
		width: 70px;
		height: 65px;
	}

	.cookie__actions {
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;
	}

	.cookie__btn-container {
		height: 100%;
	}

	.cookie__btn-bg {
		width: 126px;
		height: 74px;
	}

	.cookie__btn {
		bottom: -10px;
	}

	/* menu */

	.menu__circle {
		display: none;
	}

	.menu__header {
		padding: 20px 0 0;
		align-items: flex-end;
	}

	.menu__search {
		min-width: 200px;
		padding: 10px 16px;
	}

	.menu__navigation {
		flex-direction: column;
	}

	.menu__item {
		width: 100%;
	}

	.menu__search-container {
		margin-top: 1rem;
	}

  .menu__search-container {
    margin-top: 1rem;
  }

	.menu__navigation {
    grid-template-columns: repeat(1, 1fr);
		gap: 10px 0;
	}

	.menu__item {
		max-width: 320px;
		margin-left: 10px;
	}

	.menu__item-title {
		font-size: 16px;
	}

	.menu__item-link {
		display: none;
	}

	.menu__info {
		flex-direction: column;
	}

	.menu__feedback {
		margin-top: 10px;
		max-width: 328px;
		height: 160px;
		padding: 16px;
	}
	.menu__feedback h3 {
		font-size: 16px;
	}	
	.menu__feedback p {
		font-size: 12px;
	}

	.request {
		padding: 5px 40px;
	}

	.menu__btn-bg {
		width: 180px;
		height: 36px;
	}

	.menu__contacts-phone {
		font-size: 16px;
	}

	.menu__contacts-email {
		font-size: 12px;
	}

	.modal {
		width: 328px;	
		padding: 34px 18px;
	}

	.modal__header span {
		font-size: 18px;
	}

	.modal__content {
		flex-direction: column;;
	}

	.modal__form {
		width: 100%;
		gap: 16px;
	}

	.modal__input, .modal__select, .modal__textarea {
		width: 100%;
		padding: 10px;
	}

	.modal__footer {
		flex-direction: column;
		align-items: flex-start;
		margin-top: 0;
	}
	.modal__footer span {
		text-align: left;
		width: 100%;
	}

	.modal__btn {
		width: 100%;
	}

	.contact__btn {
		align-self: end;
		width: 144px;
	}

}