  /* Секция partners */

.partners__title {
    margin-top: 80px;
  }
  
  .swiper-partners {
    margin-top: 56px;
    max-width: 1240px;
    /* padding: 0 80px; */
  }
  
  .swiper-partners-wrapper {
    margin: 0 auto;
    height: 210px;
  }

  .swiper-container-wrapper {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    padding: 0 50px; 
    overflow: hidden;
  }
  
  .swiper-partners-slide {
    width: 120px;
    height: 154px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    filter: grayscale(100%);
    transition: 0.5s all ease;
    white-space: nowrap;
  }
  
  .swiper-partners-slide p {
    font-size: 20px;
    line-height: .05em;
    line-height: 22px;
    color: #F5F5F5;
    font-family: Handjet;
    font-weight: 700;
    transition: 0.5s all ease;
  }
  
  .swiper-all-partners {
    filter: grayscale(0%);
  }
  
  .swiper-all-partners p {
    color: var(--primary-yellow);
  }
  
  .swiper-partners-slide:hover {
    filter: grayscale(0%);
  }
  
  .swiper-partners-slide:hover p {
    color: var(--primary-yellow);
  }
  
  
  .swiper-partners-slide img {
    width: 120px;
    height: 120px;
  }
  
  .swiper-button-prev {
    top: calc(50% - 20px);
    left: 0;
  }
  
  .swiper-button-next {
    top: calc(50% - 20px);
  }
  
  .swiper-button-prev::after {
    content: url('../icons/arrow.svg');
  }
  
  .swiper-button-next::after {
    content: url('../icons/arrow.svg');
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  
  .swiper-button-prev {
    transform: rotate(180deg);
    left: 0;
  }
  
  .swiper-button-next {
    right: 0px;
  }
    
  /* Секция news */

   .news {
    position: relative;
    margin-top: 80px;
  }
  
  .news__container {
    position: relative;

    background: url('../icons/news/newsBG.svg') no-repeat center/cover;
    background-size: 100% 730px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 606px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
  }

  
  .swiper-news-item img {
    border: 5px solid #F5F5F5;
    width: 100%;
    border-radius: 14px;
    object-fit: cover;
  }
  
  .swiper-news-info time {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 16px;
    font-weight: 400;
    font-family: PT Sans;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  .swiper-news-description {
    position: absolute;
    bottom: 10px;
    left: 20px;
    color: #fff;
    padding: 15px 20px;
    border-radius: 8px;
    max-width: 310px;
  }
  
  .swiper-news-description h4 {
    font-size: 20px;
    font-weight: 700;
    font-family: Handjet;
  }
  
  .swiper-news-description p {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 400;
    font-family: PT Sans;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  
  .news-button-prev,
  .news-button-next {
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  
  .news-button-prev {
    left: 0;
  }
  
  .news-button-next {
    right: 0;
  }
  
  .news-button-prev::after,
  .news-button-next::after {
    content: url('../icons/arrow.svg');
  }
  