.scroll-to-top {
  position: fixed;
  bottom: 50%;
  transform: translateY(-50%);
  right: 30px;
  display: block;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;
}

.scroll-to-top.show {
  display: flex;
  opacity: 1;
  transform: scale(1);
}

.scroll-to-top.hide {
  opacity: 0;
  transform: scale(0.8);
}