.solutions__types {
    margin-top: 56px;
    display: flex;
    justify-content: center;
  }
  
  .solutions__item {
    position: relative;
    padding: 74px 35px;
    width: 350px;
  }
  
  .solutions__item:not(:first-child) {
    border-left: 3px solid #f5f5f5;
    transition: all 0.5s ease;
  }
  
  .solutions__item img {
    display: block;
    position: relative;
    margin: 0 auto;
  }
  
  .solutions__item_text {
    margin-left: 5px;
    position: absolute;
    width: 270px;
    top: 270px;
    transition: all 0.3s ease;
  }
  
  .solutions__item_title {
    letter-spacing: .14em;
    height: 96px;
  }
  
  .solutions__item_description {
    display: none;
    font-family: PT Sans;
    font-size: 18px;
  }
  
  .solutions__item {
    position: relative;
    padding: 74px 35px 0 35px;
  }
  
  .solutions__icon {
    display: block;
    position: relative;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .solutions__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: -1;
  }
  
  .solutions__hover-icon {
    position: absolute;
    bottom: 0;
    right: 37%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 5;
  }
  
  .solutions__more {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 13px;
    bottom: 50px;
    right: -30px;
    transform: translateX(-50%);
    font-family: Handjet;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    fill: var(--primary-purple);
    color: var(--primary-purple);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 10;
  }

@media (min-width: 501px) {
  
  .solutions__more:hover {
    fill: #4A399D;
    color: #4A399D;
    cursor: pointer;
  }
  .solutions__item:hover .solutions__item_text {
    top: 50px;
  }
  .solutions__item:hover .solutions__bg,
  .solutions__item:hover .solutions__hover-icon,
  .solutions__item:hover .solutions__more {
    opacity: 1;
  }
  .solutions__item:hover .solutions__item_description {
    display: block;
  }
  
  .solutions__item:not(:first-child):hover {
    border-left: 3px solid var(--primary-yellow);
  }
}